[user]
	name = Norbert Lazzeri
	email = norbert.lazzeri@firstbird.com
[core]
	autocrlf = input
	excludesfile = /Users/norbertlazzeri/.gitfiles/.gitignore_global
	editor = nvim
[filesystem "AdoptOpenJDK|11.0.5|/dev/disk1s1"]
	timestampResolution = 7000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "N/A|13.0.2|/dev/disk1s1"]
	timestampResolution = 6000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "N/A|14.0.1|/dev/disk1s1"]
	timestampResolution = 8000 nanoseconds
	minRacyThreshold = 0 nanoseconds
